.App{
  background-color: #282c34;
  min-height: 100vh;
  width: 100%;
  margin:0;
  padding:0;
  display: flex;
  flex-direction: column;
  gap:25px;
}
#navbar{
  padding: 0 20px;
  color:white;
  background-color: rgba(76, 86, 102, 0.304);
  box-shadow: 0 0 3px black;
  font-size: 15px;
}
#app-body{
  display: flex;
  align-items: center;
  justify-content: center;
}
button{
  cursor: pointer;
}
button:active{
  transform: scale(0.9);
}
@media screen and (max-width:400px){
  #navbar{
    text-align: center;
  }
}