.App{
  background-color: #282c34;
  min-height: 100vh;
  width: 100%;
  margin:0;
  padding:0;
  display: flex;
  flex-direction: column;
  font-family:'poppins'
}

#app-body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-direction: column;
}
button{
  cursor: pointer;
  transition-duration: 0.1s;
}
button:active{
  transform: scale(0.9);
}
