#chat{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    height: 80vh;
    border-radius: 15px;
    width:350px;
}
#chat-header{
    width: 100%;
    text-align: center;
    border:none;
}
#chat-header>h3{
    padding:20px 0;
    color:#282c34;
    font-size: 22px;
    margin:0;
}
#chat-div{
    background-color: white;
    width: 100%;
    height: 100%;
    color:white;
    overflow-y: scroll;
    z-index: 2;
    box-shadow: 0 0 2px black;
    display: flex;
    flex-direction: column;
    gap:5px;
}
#blank-txt{
    color: #282c3460;
    margin:0;
    padding:0;
    text-align: center;
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#blank-txt>span{
    font-size: 15px;
}
#date{
    text-align: center;
    border-bottom: 1px solid #282c3467;
    line-height: 0;
    margin: 15px 8px 5px 8px;
 }
#date>span{
    background:white ;
    padding:0 5px; 
    color:#282c34be;
    font-weight: 600;
    font-size: 13px;
}
.txt{
    max-width: 65%;
    padding: 4px 9px;
    display: flex;
    gap:5px;
}
.receiver{
    background-color: rgba(128, 128, 128);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-left: 8px;
}
.sender{
    background-color: #007AFF;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    margin-right: 8px;
}
.msg-txt{
    margin:0;
    font-size: 15px;
    font-weight: 600;
    word-break:break-all;
    opacity: 0.9;
}
.un{
    color: black;
    font-size: 14px;
    font-weight: bold;
    display: block;
    border-radius: inherit;
}
#time{
    font-weight: 600;
    font-size: 12px;
    opacity: 0.8;
    align-self: flex-end;
    width: auto;
}
#time>p{
    padding:0;
    margin:0;
    text-align: end;
    white-space: nowrap;
}
#input{
    width:100%;
}
#chat-form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
}
#msg-ip{
    border:none;
    border-bottom-left-radius: 15px;
    margin:0;
    padding:14px 10px;
    flex:3;
    border-right: 2px solid rgba(0, 0, 0, 0.432);
    width:80%;
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    color:#282c34
}
#msg-ip::placeholder{
    font-style: italic;
}
#msg-ip:focus,#chat-form>button:focus{
    outline: none;
}
.send-icon{
    transform: rotate(-45deg);
}

#chat-form>button{
    padding:8px 15px;
    border-bottom-right-radius: 15px;
    margin:0;
    border:none;
    background-color: white;
    opacity:0.6;
    transition-duration: 0.2s;
}

#chat-form>button:hover{
    opacity: 1;
}