#chat-container{
    flex:1;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    align-items: stretch;
    animation-name:display;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
}
#chat{
    display: flex;
    flex:4.5;
    flex-direction: column;
    background-color: white;
    align-items: center;
    border: none;
    
}
#chat-header{
    width: 100%;
    text-align: center;
    border:none;
}
#chat-header>h3{
    padding:12px 0;
    color:#282c34;
    font-size: 22px;
    margin:0;
}
#chat-div{
    background-color: white;
    width: 100%;
    max-height: calc(100vh - 170px);
    color:white;
    overflow-y: scroll;
    z-index: 2;
    box-shadow: 0 0 1px black;
    display: flex;
    flex-direction: column;
    flex:1;
    gap:8px;
}
#blank-txt{
    color: #282c3460;
    margin:0;
    padding:0;
    text-align: center;
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    flex-direction: column;  
}

#blank-txt>span{
    font-size: 15px;
}
#date{
    text-align: center;
    padding:6px 2px 0 2px;
 }
#date>span{
    background:white ;
    color:#282c34be;
    font-weight: 600;
    padding:0 6px;
    font-size: 13px;
}

.txt{
    max-width: 62%;
    padding: 2px 10px;
    display: flex;
    gap:7px;
    animation-name:display;
    animation-duration: 0.1s;
    animation-iteration-count: 1;
}
.receiver{
    background-color: rgba(119, 118, 118);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-left: 12px;
}
.sender{
    background-color: #282c34;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    margin-right: 12px;
}
.msg-txt{
    margin:0;
    font-size: 15px;
    font-weight: 500;
    word-break:break-all;
}
#bot-msg{
    text-align: center;
}
.bot{
    background-color: #282c34a4;
    text-align: center;
    margin:0;
    display: inline-block;
    padding: 2px 7px;
    border-radius: 7px;
    font-size: 15px;
    animation-name:display;
    animation-duration: 0.1s;
    animation-iteration-count: 1;
}
.un{
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
    font-weight: bold;
    display: block;
    border-radius: inherit;
}
#time{
    font-weight: 600;
    font-size: 12px;
    opacity: 0.8;
    align-self: flex-end;
    width: auto;
}
#time>p{
    padding:0;
    margin:0;
    text-align: end;
    white-space: nowrap;
}
#input{
    width:100%;
}
#chat-form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
}
#msg-ip{
    border:none;
    border-bottom-left-radius: 15px;
    margin:0;
    padding:14px 10px;
    flex:3;
    border-right: 2px solid rgba(0, 0, 0, 0.432);
    width:80%;
    font-family: inherit;
    font-weight: 600;
    font-size: 15px;
    color:#282c34;
}
#msg-ip:focus{
    outline: none;
}
#msg-ip::placeholder{
    font-style: italic;
}
#chat-form>button:focus{
    outline: none;
}
.send-icon{
    transform: rotate(-45deg);
}

#chat-form>button{
    padding:8px 15px;
    border-bottom-right-radius: 15px;
    margin:0;
    border:none;
    background-color: white;
    opacity:0.6;
    transition-duration: 0.2s;
}


#chat-form>button:hover{
    opacity: 1;
}
@media screen and (max-width:400px) {
    #chat-container{
        flex:1;
        flex-direction: column;
    }
}
@keyframes display{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 0.1;
    }
    20%{
        opacity: 0.2;
    }
    30%{
        opacity: 0.3;
    }
    40%{
        opacity: 0.4;
    }
    50%{
        opacity: 0.5;;
    }
    60%{
        opacity: 0.6;
    }
    70%{
        opacity: 0.7;;
    }
    80%{
        opacity: 0.8;
    }
    90%{
        opacity: 0.9;
    }
    100%{
        opacity: 1;
    }
}
