#home{
    flex:1;
    display: flex;
    height: 60vh;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}
#un-form{
    display: flex;
    align-items: center;
    gap:20px;
    padding:5px;
    flex-direction: column;
    height: 110px;
}
#un-submit{
    background-color:#282c34;
    color:white;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    padding:10px;
    font-family: 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell';
    font-weight: 600;
    transition-duration:0.3s;
    animation: display;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
}
#un-submit:hover{
    background-color: white;
    color:#282c34
}
.ip{
    font-family: 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell'; 
    font-weight: 600;
    padding:10px 0;
    font-size: 26px;
    border:none;
    border-radius: 12px;
    background-color: #282c34;
    color: white;
    text-align: center; 
    transition-duration: 0.4s;
}
#username-ip{
    animation-name: display;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
}
#room-ip{
    animation-name: slideLeft;
    animation-duration: 0.9s;
    animation-iteration-count: 1;
}
.ip:hover{
    background-color: white;
    color:#282c34
}
.ip::placeholder{
    font-style: italic;
    font-size: 22px;
}
.ip:focus{
    outline: none;
}

@keyframes display{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 0.1;;
    }
    20%{
        opacity: 0.2;
    }
    30%{
        opacity: 0.3;
    }
    40%{
        opacity: 0.4;
    }
    50%{
        opacity: 0.5;;
    }
    60%{
        opacity: 0.6;
    }
    70%{
        opacity: 0.7;;
    }
    80%{
        opacity: 0.8;
    }
    90%{
        opacity: 0.9;
    }
    100%{
        opacity: 1;
    }
}

@keyframes slideLeft {
    0%{
        opacity: 0;
        transform:translateX(100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}