#home{
    flex:1;
    display: flex;
    height: 60vh;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}
#un-form{
    display: flex;
    align-items: center;
    gap:15px;
    padding:5px;
    flex-direction: column;
    height: 110px;
}
#un-submit{
    background-color:#282c34;
    color:white;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    padding:13px;
    font-family: 'Montserrat';
    font-weight: 600;

}
#un-submit:hover{
    background-color: white;
    color:#282c34
}
#username-ip{
    font-family: 'Montserrat';
    font-weight: 600;
    padding:10px;
    font-size: 24px;
    border:none;
    border-radius: 12px;
    background-color: #282c34;
    color: white;
    text-align: center;
    transition-duration: 0.2s;
}
#username-ip:hover{
    background-color: white;
    color:#282c34
}
#username-ip::placeholder{
    font-style: italic;
}
#username-ip:focus{
    outline: none;
}
