#home{
    color:white;
    width:70%;
    display:flex;
    flex-direction:column;
    align-items: center;
    gap:24px;
    animation-name: display;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
}
#home>h2,#home>h3{
    margin:0;
}
#un-submit{
    background-color:#282c34;
    color:white;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    padding:5px 10px;
    font-family: 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell';
    font-weight: 600;
    transition-duration:0.3s;
    animation: display;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
}
#un-submit:hover{
    background-color: white;
    color:#282c34
}

@keyframes display{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 0.1;;
    }
    20%{
        opacity: 0.2;
    }
    30%{
        opacity: 0.3;
    }
    40%{
        opacity: 0.4;
    }
    50%{
        opacity: 0.5;;
    }
    60%{
        opacity: 0.6;
    }
    70%{
        opacity: 0.7;;
    }
    80%{
        opacity: 0.8;
    }
    90%{
        opacity: 0.9;
    }
    100%{
        opacity: 1;
    }
}
