#navbar{
  color:white;
  background-color: #282c34;
  box-shadow: 0 0 4px black;
  font-size: 15px;
  padding:0 40px;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#logo-ham{
  display: flex;
  align-items: center;
}
#hamburger{
  cursor:pointer;
  padding-top: 5px;
  opacity: 0.8;
}
#hamburger:hover{
  opacity: 1;
}
#logo{
    font-style: italic;
    transition-duration: 0.1s;
    margin:0;
    text-align: center;
    padding:5px 15px 0px 15px;
    font-size: 44px;
    font-family: 'Teko';
  }

#nav-btns{
  list-style: none;
  padding:0;
  margin:0;
  display: block;
}
#nav-btns>li{
  display: inline;
  margin:15px;
  font-weight: 500;
}
.nav-btn{
  background-color: inherit;
  border:none;
  font-family: inherit;
  font-size: 15px;
  color:white;
  font-weight: 500;
}
  @media screen and (max-width:400px){
    #navbar{
      text-align: center;
      flex-direction: column;
    }
    #nav-btns{
      display: flex;
    }
  }