#navbar{
  color:white;
  background-color: #282c34;
  box-shadow: 0 0 4px black;
  font-size: 15px;
  padding:0 40px;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
#logo-ham{
  display: flex;
  align-items: center;
}
#hamburger{
  cursor:pointer;
  padding-top: 5px;
  opacity: 0.8;
}
#hamburger:hover{
  opacity: 1;
}
#logo{
    font-style: italic;
    transition-duration: 0.1s;
    margin:0;
    text-align: center;
    padding:5px 15px 0px 15px;
    font-size: 44px;
    font-family: 'Teko';
  }

#nav-btns{
  list-style: none;
  padding:0;
  margin:0;
  display: flex;
  align-items: center;
}
#nav-btns>li{
  display: inline;
  margin:10px;
  font-weight: 500;
}
.nav-btn{
  background-color: inherit;
  border:none;
  font-family: inherit;
  font-size: 15px;
  color:white;
  font-weight: 500;
}
#dropdown-content{
  position: absolute;
  top:60px;
}
#profile-div{
   display: flex;
   justify-content: center;
}
#profile{
  background-color: #282c34;
  border: 2px solid white;
  border-radius: 20px;
  font-size: 20px;
  font-family: inherit;
  color:inherit;
  height:40px;
  width: 40px;
  font-weight: 600;
}
#logout-btn{
   padding:6px 10px;
   background-color:rgb(107, 105, 105);
   color:white;
   border:none;
   font-weight: 600;
   border-radius:5px;
   cursor: pointer;
   font-size: 12px;
}
#dropdown-content>ul{
  padding:0;
  margin:0;
}
.dd-list-item{
  list-style: none;
}
  @media screen and (max-width:700px){
    #navbar{
      text-align: center;
      flex-direction: column;
    }
    #nav-btns{
      display: flex;
    }
    #dropdown-content{
      top:130px
    }
  }