#rooms{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    color:white;
    grid-gap:30px;

    animation-name: display;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
}
#room-card{
    box-shadow: 0 0 4px black;
    color:#282c34;
    display: flex;
    background-color: white;
    flex-direction: column;
    gap:7px;
    padding:10px;
    justify-content: space-between;
    border-radius: 10px;
    width: 350px;
}
#room-header>h3{
    margin:0;
}
#room-desc{
    padding:0;
    margin:0;
    word-break: break-all;
    text-align: justify;
}
#rs-btn{
    align-self: center;
}
#room-submit{
    background-color:#282c34;
    color:white;
    font-weight: 500;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    font-family: 'Poppins','Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell';
    font-weight: 600;
    transition-duration:0.3s;
    animation: display;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
}
#cr-txt{
    font-weight: 500;
}

@keyframes display{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 0.1;
    }
    20%{
        opacity: 0.2;
    }
    30%{
        opacity: 0.3;
    }
    40%{
        opacity: 0.4;
    }
    50%{
        opacity: 0.5;;
    }
    60%{
        opacity: 0.6;
    }
    70%{
        opacity: 0.7;;
    }
    80%{
        opacity: 0.8;
    }
    90%{
        opacity: 0.9;
    }
    100%{
        opacity: 1;
    }
}
@media screen and (max-width:950px) {
    #rooms{
      display: flex;
      flex-direction: column;
    }
    #heading{
        text-align: center;
    }
    #room-card{
        width: 310px;
    }
    body{
        overflow-y:scroll ;
    }
}